name: Install and Test
on:
    pull_request:
      branches:
        - main
    push:
      branches:
        - main
jobs:
  build-linux:
    name: Python (${{ matrix.PYTHON_VERSION }})
    runs-on: ubuntu-latest
    defaults:
      run:
        # Ensures environment gets sourced right
        shell: bash -l {0}
    strategy:
      matrix:
        PYTHON_VERSION: ["3.10", "3.13", "3.14"]
    env:
      PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
    steps:
    - uses: actions/checkout@v6

    # needed for iemwebfarm to run
    - name: Setup Python
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        condarc: |
          channels:
            - conda-forge
        create-args: >-
          python=${{ env.PYTHON_VERSION }}
        environment-name: prod
        cache-environment: true

    - name: Run bundled scripts
      run: |
        set -e
        . memcached.sh
        . iemwebfarm.sh
        . mod_wsgi.sh

    #- name: Setup upterm session
    #  uses: lhotari/action-upterm@v1
    #  with:
    #    limit-access-to-actor: true
